// Bulma
$dropdown-content-radius: 0;
$dropdown-item-active-color: black;
$dropdown-item-active-background-color: $amarelo-sain;
@import "node_modules/bulma/bulma";
@import "node_modules/bulma-checkradio/checkradio.sass";