@import "common/colors";

//font-awesome
$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;
@import 'node_modules/font-awesome/scss/font-awesome';

// Bulma
$dropdown-content-radius: 0;
$dropdown-item-active-color: black;
$dropdown-item-active-background-color: $amarelo-sain;
@import "node_modules/bulma/bulma";

@import "common/typography";
@import "document/components";
@import "common/mixins";
@import "common/_placeholders";

@import "partials/header";
@import "partials/footer";
@import "document/master";