header[role="document-header"]{
  @extend .level;
  height: 50px;
  background-color: $color-main;
  padding: 0 1rem;
  color: white;
  & > nav{
    height: 100%;
  }
  & > nav > div{
    @extend %contrast-bg-hover;
    height: 100%;
    padding: 0 0.5rem;
  }
  & .modal{
    .modal-card-head, .modal-card-body {
      color: black;
    }
  }
}

#header-brand{
  @extend .is-flex;
  align-items: center;
  font-size: 1.3rem;
  svg{
    fill: white;
    margin-right: 0.5rem;
  }
  a{
    color: white;
  }
}