header[role="document-header"]{
  @extend .level;
  height: 60px;
  background-color: $color-main;
  padding: 0 1rem;
  & > nav, & > nav > div{
    height: 100%;
  }
}

#header-brand{
  @extend .is-flex;
  align-items: center;
  svg{
    fill: white;
    margin-right: 0.5rem;
  }
}