header[role="document-header"]{
  @extend .level;
  height: 50px;
  background-color: $color-main;
  padding: 0 1rem;
  color: white;
  & > nav{
    height: 100%;
  }
  & > nav > div{
    height: 100%;
    padding: 0 0.5rem;
  }
  & .modal{
    .modal-card-head, .modal-card-body {
      color: black;
    }
  }
}

.header-item{
  @extend %contrast-bg-hover;
  &:hover > * {
    cursor: default;
    color: black
  }
}

#header-brand{
  @extend .is-flex;
  align-items: center;
  font-size: 1.3rem;
  svg{
    fill: white;
    margin-right: 0.5rem;
  }
  a{
    color: white;
  }
}

#login-badge{
  @extend .is-flex;
  flex-direction: row-reverse;
  .user-image{
    margin-left: 0.5rem;
    width: 40px;
    height: 40px;
    & img{
      border-radius: 50%;
    }
  }
  .user-data{
    @extend .is-flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    #user-name{
      font-size: 1.1rem;
    }
    #user-unidade{
      font-size: 0.8rem
    }
  }
}