.toolbar{
  margin: 1rem 0;
  background-color: $color-light;
  border-bottom: 1px solid $color-heavy;
  & a{
    color: black;
    transition: background-color, .2s;
    &:hover{
      color: white;
      background-color: $color-highlight;
    }
  }
}

.toolbar-button-list {
  @extend .level;
  .toolbar-button{
    @extend .level-item;
  }
}

.toolbar-button-content{
  @extend .is-flex;
  padding: 0.5rem;
  flex-direction: column;
  font-weight: 300;
  font-size: 110%;
  * {
    text-align: center;
  }
  i {
    @extend .fa-2x;
  }
}