.user-profile {

  @extend .is-flex;
  aside{
    margin-right: 1.5rem;
  }
  main{
    flex: 1;
  }
  & .menu-list{
    font-size: small;
  }

  font-size: 150%;
}

.user-infocard{
  @extend .is-flex;
  font-size: 120%;
  font-weight: 300;
  div{
    @extend .is-flex;
    align-items: center;
    margin-right: 1rem;
  }
  i{
    margin-right: 0.5rem;
  }
}

.documentos{
  background-color: red;
}