.escolaridade-item{
  @extend .is-flex;
  //* {
  //  border: 1px solid purple;
  //}
  border: 1px solid $color-faded;
  margin-bottom: 1rem;

  .escolaridade-tipo{
    @extend .is-flex;
    align-items: center;
    margin-right: 1rem;
    padding: 0 1rem;
    text-transform: uppercase;
    font-weight: 300;
    background-color: $color-faded;
  }

  .escolaridade-detalhes{
    flex: 1;
  }
  & table{
    margin: 0.5rem 0;
    width: 100%;
  }

  & .escolaridade-label {
    font-weight:bold;
    padding-right: 1rem;
    width: 9rem;
  }
}
